<%= t('.header', title: @test_passage.test.title) %>
<% if @test_passage.passed %>
  <%= t('.passed') %> - <b class='success'><%= @test_passage.calculate_percentage %></b>%
<%else%>
  <%= t('.failed') %> - <b class='fail'><%= @test_passage.calculate_percentage %></b>%
<% end %>

<p>
<%= link_to t('.back'), tests_path %>
</p>
