<nav class="navbar fixed-bottom navbar-light bg-light">
  <footer>
    <a class="navbar-text"> <%= t(".project") %> <%= github_url('crrafterr', 'rails_code') %> |
     <%= t(".description") %>|
     <%= link_to t(".link"), "https://thinknetica.com/", target: '_blank', rel: %w[nofollow noopener]%> | 
     <%= link_to t('.feedback'), new_feedback_path %></a>
    <p><%= t(".year") %> <%= current_year %></p>
  </footer>
</nav>
