<div class="card border-primary">
  <div class="card-header">
    <h2 class="h2"><%= t(".header") %></h2>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th class="sort-by-title pointer">
            <%= t(".title") %>
            <%= octicon 'arrow-up', class: 'text-succes hide' %>
            <%= octicon 'arrow-down', class: 'text-succes hide' %>
          </th>
          <th><%= t(".level") %></th>
          <th><%= t(".count") %></th>
          <th><%= t(".timer") %></th>
          <th><%= t(".actions") %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @tests %>
      <tbody>
    </table>
  </div>
</div>
